*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(-45deg, #fbc531, #4cd137, #273c75, #e84118);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.middle{
  color: #fff;
  font-size: 2rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.middle .hidden{
  animation: text 1s 1;
}

@keyframes text {
  0%{
    max-width: 0;
    opacity: 0;
  }
  100% {
    max-width: 1em;
    opacity: 1;
  }
}
